/* #region  mobile-mediaqueries*/
.header-cont{
    max-width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
}

h1{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--title-and-details-color);
    font-size: 3rem;
    margin: 5px 0;
}
/* #endregion  mobile-mediaqueries*/



/* #region  tablet-mediaqueries*/
@media screen and (min-width: 768px) {
    .header-cont{
        max-width: 100%;
        display: inline-block;
        margin-left: 2rem;
    }
}
/* #endregion  tablet-mediaqueries*/



/* #region  desktop-mediaqueries*/

/* #endregion  desktop-mediaqueries*/